title:Configuration File
layout:default
---
  <strong>File format</strong> <font face="helvetica,arial" size="2"><br>
    <img src="dot.gif" alt="*" width=9 height=9> <a href="cf_general.html">General</a><br>
    <img src="dot.gif" alt="*" width=9 height=9> <a href="cf_blocks.html">Block restrictions</a><br>
    <img src="dot.gif" alt="*" width=9 height=9> <a href="cf_types.html">Attribute types</a><br>
    <img src="dot.gif" alt="*" width=9 height=9> <a href="cf_variables.html">Variable expansion</a><br>
  </font><br>
  <strong>Attributes</strong> <font face="helvetica,arial" size="2"><br>
    <img src="triangle.gif" alt="&gt;" width=9 height=9> <a href="cf_byprog.html">By program</a><br>
    <img src="triangle.gif" alt="&gt;" width=9 height=9> <a href="cf_byname.html">Alphabetical</a><br>
  </font>
