title:hlstat
layout:default
---
  <dl>
    <dd>
    <h2>
      Synopsis
    </h2>
    </dd>
    <dd>
    hlstat [<em>options</em>]
    </dd>
  </dl>
  <dl>
    <dd>
    <h2>
      Description
    </h2>
    </dd>
    <dd>
    Hlstat returns statistics on the document and word
    databases, much like the -s option to htdig or
    hlmerge.
    </dd>
  </dl>
  <dl>
    <dd>
    <h2>
      Options
    </h2>
    </dd>
    <dd>
    <dl compact>
            <dt>
      -a
      </dt>
      <dd>
      Use alternate work files. Tells hlstat to
      append <em>.work</em> to the database files
      allowing it to operate on a second set of
      databases.
      </dd>
      <dt>
      -c <em>configfile</em>
      </dt>
      <dd>
      Use the specified <em>configfile</em> file instead of the
      default.
      </dd>
      <dt>
            -u
      </dt>
      <dd>
            Output the list of URLs in the document database.
      </dd>
      <dt>
      -v
      </dt>
      <dd>
      Verbose mode. This increases the verbosity of the
      program. This has little effect.
      </dd>
    </dl>
    </dd>
  </dl>
  <dl>
    <dd>
    <h2>
      Files
    </h2>
    </dd>
    <dd>
    <dl>
      <dt>
      <a href="attrs.html#config_dir">CONFIG_DIR</a>/htdig.conf
      </dt>
      <dd>
      The default configuration file.
      </dd>
    </dl>
    </dd>
  </dl>
  <dl>
    <dd>
    <h2>
      See Also
    </h2>
    </dd>
    <dd>
      <a href="htdig.html">htdig</a>,
    <a href="hlmerge.html">hlmerge</a>, and
    <a href="attrs.html">Configuration file format</a>
    </dd>
  </dl>
